@layout('layouts/main')

@section('main')
<h2 class="mb-3 text-center">Categories</h2>
<div class="mb-3">
    <a href="{{ route('blog.createArticle') }}">Create a category</a>
</div>
<ul class="list-group">

</ul>
@end