@set( 'isCurrentRoute', request.matchesRoute(namedRoute))

<a class="nav-link {{ isCurrentRoute ? 'active' : '' }} px-4" {{ isCurrentRoute ? 'aria-current="page"' : '' }} href="{{ route(namedRoute) }}">
    {{ label }}
</a>