@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons";
@import "./functions/main-anim.scss";

html {
    overflow-y: scroll;
}

@keyframes slideIn {
    0% {
        transform: translateY(-30px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

// https://symfonycasts.com/screencast/turbo/transitions
main {
    // transition: opacity 300ms ease-in-out;
    @include mainAnim(300ms);
}
body.turbo-loading main,
body.turbo-loaded main {
    opacity: 0;
}
