<div class="mb-3">
    <label for="{{ name }}" class="form-label">{{ label }}</label>
    <editor-component 
        name="{{ name }}" 
        value="{{ flashMessages.get(name) || value || '' }}" 
        class="form-control {{ flashMessages.has(`errors.${name}`) ? 'is-invalid' : '' }} p-0"
    >
    </editor-component>
    @if(flashMessages.has(`errors.${name}`))

    <div class="invalid-feedback">
        {{ flashMessages.get(`errors.${name}`) }}
    </div>

    @end
</div>