@layout('layouts/main')

@section('main')
<h1 class="mb-3">Edit : {{ article.title }}</h1>
<form action="{{ route('blog.updateArticle', { id: article.id }) }}" method="post">
    @!component('blog/_articleForm', { article: article})
    @!component('form/_button', {
    type: 'submit',
    label: 'Update'
    })
</form>
@end