@layout('layouts/main')

@section('main')
<h1 class="mb-3">My articles</h1>
<div class="mb-3">
    <a href="{{ route('blog.createArticle') }}">Create an article</a>
</div>
<ul class="list-group">
    @if(articles.length > 0)
    @each(a in articles)
    @!component('blog/_articleItem', {
    article: a
    })
    @end
    @else
    <p>There's no articles.</p>
    @end
</ul>
@end